<!-- app.component.html -->
<header>
    <nav class="navbar">
      <div routerLink="/" class="navbar-brand">Your App</div>
      <div *ngIf="authService.isLoggedIn$ | async">
        <button class="nav-button" routerLink="/employee">New Employee</button>
      </div>
      <div *ngIf="!(authService.isLoggedIn$ | async)" class="auth-buttons">
        <button class="auth-button" routerLink="/login">Login</button>
        <button class="auth-button" routerLink="/signup">Signup</button>
      </div>
      <div *ngIf="authService.isLoggedIn$ | async">
        <button class="nav-button" (click)="signOut()">Logout</button>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  